.border {
  padding: 10px 10px;
  background-color: #024f66;
  border-radius: 10px;
  border: 4px solid #0381a6;
}

.buttons {
  display: flex;
  gap: 40px;
}

.button {
  padding: 10px 20px;
  background-color: #024356;
  border: 3px solid #00B2ED;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #006A88;
  transform: scale(1.05);
}

.button h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.button p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .buttons {
    gap: 20px;
  }
  
  .button {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.25rem;
  }

  .button h2 {
    font-size: 1rem;
  }

  .button p {
    font-size: 0.75rem;
  }
}
